.container {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    overflow: auto;
    position: relative;
}

.content {
    border-radius: 5px;
    padding: 15px 15px 15px 20px;
    overflow: auto;
}

.title {
    color: #ffa500;
    padding: 15px;
}