.infoCharacter {
  border-radius: 15px;
  padding: 20px;
  text-align: left;
  max-width: 300px;
  color: white;
}

.infoCharacter h4 {
  margin: 0 0 10px;
  font-size: 1.2em;
}

.infoCharacter p {
  margin: 5px 0;
  font-size: 1em;
  line-height: 1.4;
}
