.root {
    position: relative;

    &:hover .smallImageDescription {
        position: relative;
        bottom: 86px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        width: 100%;
    }
}
.round {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
}

.roundDeadCharacter {
    background-color: red;
}

.imageCharacter {
    display: block;
    margin: auto;
}

.infoCharacter {
    display: block;
    position: relative;
    margin: auto;
    width: 272px;
    height: 84px;
    background-color: aquamarine;
    text-align: center;
    align-content: center;
}
